doctype strict
html(xmlns='http://www.w3.org/1999/xhtml', xml:lang='en', lang='en')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='description', content='_your description goes here_')
    meta(name='keywords', content='_your,keywords,goes,here_')
    link(rel='stylesheet', type='text/css', href='/resources/css/news.css', media='screen', title='style (screen)')
    title NEWS
    //if lte IE 6
      style(type='text/css').
        html, body
        {
        height: 100%;
        overflow: auto;
        }
        #left {
        position: absolute; left: 0;
        width: 35%;
        }
  body
    #left
      #outer
        h1
          span.green N
          | E
          span.yellow W
          | S
        br
        br
        | &#x9;
        a.nav(href='#') ABOUT US
        | &#x9;
        a.nav(href='#') PREVIOUS EVENTS
        | &#x9;
        a.nav(href='#') UPCOMING EVENTS
        | &#x9;
        a.nav(href='#') MEMBERSHIP
        | &#x9;
        a.nav(href='#') HOME
    #main
      each article in news_list
        .date
          span.green
            | #{article.date.month}
            br
            | #{article.date.day}
        | &#x9;
        .main
          span.title= article.title
          | #{article.para}
          | &#x9;
      span.credit
        | &copy; 2006 Your Site | Template by 
        a(href='http://www.demusdesign.com') DemusDesign
